*{
    padding: 0;
    margin: 0;

}

body{
    background-color: rgba(255, 123, 0, 0.849);
}
header{
    width:100vw;
    background-color: rgb(24, 6, 6);
    color: #fff;
    font-size: 30px;
    padding: 10px 20px;
}
.container{
    background-color: rgb(228, 217, 217);
    color: rgb(24, 6, 6);
    width: 500px;
    padding: 20px;
    border: 2px solid rgb(24, 6, 6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 21vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 40px;
}
#timer{
    font-size: 70px;
    margin: 20px 0;
}
.btn{
    background-color: rgba(255, 123, 0, 0.849); /*rgb(137, 255, 3)*/
    font-size: 20px;
    color: rgb(24, 6, 6);
    font-weight: bold;
    padding: 15px 45px;
    border: 2px solid rgb(24, 6, 6);
    border-radius: 15px;
    margin: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.btn:focus{
    outline: none;
}